################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WritersDesk/bin/
/WritersDesk/obj/
